//Organizations
.organization {
  min-height: 90vh;
  background: #f7f4f4;
  padding-bottom: 3rem;
}
.org-item {
  background: rgb(243, 6, 6);
  display: grid;
  grid-template-columns: 50% 50% 50%;
  grid-template-rows: 50% 50% 50%;
  margin: auto;
  padding: 1.5rem 1.5rem;
  width: 40%;
  margin-bottom: 3.5rem;
  color: white;
}

.org-item2 {
  background: #33342e;
  display: grid;
  grid-template-columns: 50% 50% 50%;
  grid-template-rows: 50% 50% 50%;
  margin: auto;
  padding: 1.5rem 1.5rem;
  width: 40%;
  margin-bottom: 3.5rem;
  color: #ffde17;
}
.org-item3 {
  background: #a61246;
  display: grid;
  grid-template-columns: 50% 50% 50%;
  grid-template-rows: 50% 50% 50%;
  margin: auto;
  padding: 1.5rem 1.5rem;
  width: 40%;
  margin-bottom: 3.5rem;
  color: #ffffff;
}
.org-item4 {
  background: #e91d7c;
  display: grid;
  grid-template-columns: 50% 50% 50%;
  grid-template-rows: 50% 50% 50%;
  margin: auto;
  padding: 1.5rem 1.5rem;
  width: 40%;
  margin-bottom: 3.5rem;
  color: #ffffff;
}
.org-item5 {
  background: #000000;
  display: grid;
  grid-template-columns: 50% 50% 50%;
  grid-template-rows: 50% 50% 50%;
  margin: auto;
  padding: 1.5rem 1.5rem;
  width: 40%;
  color: #ffffff;
}

.org-item h2 {
  font-size: 1rem;
  font-weight: bold;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.org-item2 h2 {
  font-size: 1rem;
  font-weight: bold;
  min-height: 5vh;
  display: flex;
  align-items: left;
  justify-content: center;
}
.org-item3 h2 {
  font-size: 1rem;
  font-weight: bold;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.org-item4 h2 {
  font-size: 1rem;
  font-weight: bold;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.org-item5 h2 {
  font-size: 1rem;
  font-weight: bold;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.org-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0.6;
}

.org-item2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0.6;
}
.org-item3 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0.6;
}
.org-item4 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0.6;
}
.org-item5 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0.6;
}

.click:hover {
  opacity: 1;
  display: block;
}

.click:hover img {
  opacity: 1;
  display: block;
}
